{{#unless session.currentUser}}
<h2>Please log in using Persona</h2>

<p>
Welcome to the GUADEC registration system. To use this registration and CfP system you need to login using Mozilla
Persona. Both gnome.org or fedoraproject.org accounts can be used for
authentication (i.e. account@gnome.org).<br />
If you do not have such an account then simply enter any email address you
own. Some providers like Gmail can be used without further verification, in all other
cases a verification email will be send to you and you can use this email
address to authenticate afterwards (see the <a
href="https://support.mozilla.org/en-US/kb/what-is-persona-and-how-does-it-work#w_how-do-i-create-an-account">Mozilla
Persona FAQ</a> for more information).
</p>
<p>
You will need to authenticate with a third party service to log in. Some privacy extensions for browsers do not allow this. If you make use of these types of extensions and are experiences issues logging in, you may need to allow a temporary exception or to temporarily disable the extension.
</p>

<div class="button"><a href="/#login" onclick="{{ login_buttons.login.onclick }}">Log in with Persona</a></div>

{{else}}
Hi, {{name}}! Welcome to the GUADEC registration system.<br />

{{#unless user}}

    <div class="button"><a href="/authg/register">Complete login</a></div>

{{ else }}

    {{#has_permission "registration/desk"}}
    <div class="button"><a href="/desk">Desk</a></div>
    {{/has_permission}}


    {{#if config.papers.enabled}}

    <h2>Papers management</h2>
    <div class="buttons">
    {{#has_permission "papers/submit" }}
    <div class="button"><a href="/papers/submit">Submit a talk</a></div>
    {{/has_permission}}
    {{#has_permission "papers/list/own" }}
    <div class="button"><a href="/papers/list/own">View your submitted talks</a></div>
    {{/has_permission}}
    {{#has_permission "papers/list/accepted" }}
    <div class="button"><a href="/papers/list">View accepted talks</a></div>
    {{/has_permission}}
    </div>

    {{/if}}



    {{#if config.registration.enabled}}

    <h2>Registration</h2>
    {{#has_permission "registration/view_public"}}
    <div class="button"><a href="/registration/list">Current registrations</a></div>
    {{/has_permission}}
    <div class="buttons">
    {{#has_permission "registration/register" }}
    {{#if registration}}
    <h3>Registration ID: {{registration.display_id}}</h3>
    <div class="button"><a href="/registration/register">Update registration</a></div><br/>

    {{#has_permission "registration/request_receipt"}}
    <div class="button"><a href="/registration/receipt" target="_blank">Get receipt</a></div>
    {{/has_permission}}

    {{#has_permission "registration/pay"}}
    {{#unless registration.badge_printed}}
    <div class="button"><a href="/registration/pay">Pay additional fees</a></div>
    {{/unless}}
    {{/has_permission}}
    {{else}}
    <div class="button"><a href="/registration/register">Register</a></div>
    {{/if}}
    {{/has_permission}}
    </div>
    {{/if}}


    {{#has_permission "admin" }}
    <h2>Admin</h2>

    <h3>Papers management</h3>
    <div class="buttons">
    {{#has_permission "papers/list/all"}}
    <div class="button"><a href="/papers/admin/list">View all talks</a></div>
    {{/has_permission}}
    {{#has_permission "papers/vote"}}
    <div class="button"><a href="/papers/admin/vote">Vote on talks</a></div>
    {{/has_permission}}
    {{#has_permission "papers/showvotes" }}
    <div class="button"><a href="/papers/admin/vote/show">Show talk votes</a></div>
    {{/has_permission}}
    </div>

    <h3>Registration</h3>
    <div class="buttons">
    {{#has_permission "registration/view_all" }}
    <div class="button"><a href="/registration/admin/list">List all registrations</a></div>
    {{/has_permission}}
    </div>

    {{/has_permission}}
{{/unless}}
{{/unless}}
