{{#unless session.currentUser}}

    <div id="las-login">
    <div class="grid_8">
    <h2>Please log in</h2>

    <p>
    Welcome to the GUADEC registration system. To use this registration and CfP system you need to login.
    <br/>
    This is a test instance; the login button will open a dialog that allows you to log in with any
    email address.
    </p>

    <form><button {{{ login_buttons.login }}}>Log in</button>

{{else}}

    Hi, {{name}}! Welcome to the GUADEC registration system.<br />

    {{#has_permission "registration/desk"}}
    <a class="button" href="/desk">Desk</a>
    {{/has_permission}}


    {{#if config.papers.enabled}}
        <h2>Papers management</h2>
        <div class="buttons">
        {{#has_permission "papers/submit" }}
        <a class="button" href="/papers/submit">Submit a talk</a>
        {{/has_permission}}
        {{#has_permission "papers/list/own" }}
        <a class="button" href="/papers/list/own">View your submitted talks</a>
        {{/has_permission}}
        {{#has_permission "papers/list/accepted" }}
        <a class="button" href="/papers/list">View accepted talks</a>
        {{/has_permission}}
    </div>

    {{/if}}


    {{#if config.registration.enabled}}
        <h2>Registration</h2>
        {{#has_permission "registration/view_public"}}
        <a class="button" href="/registration/list">Current registrations</a>
        {{/has_permission}}
        <div class="buttons">
        {{#has_permission "registration/register" }}
        {{#if registration}}
        <h3>Registration ID: {{registration.display_id}}</h3>
        <a class="button" href="/registration/register">Update registration</a></div>
        {{#has_permission "registration/request_receipt"}}
        <a class="button" href="/registration/receipt" target="_blank">Get receipt</a>
        {{/has_permission}}
        {{#has_permission "registration/pay"}}
        {{#unless registration.badge_printed}}
        <a class="button" href="/registration/pay">Pay additional fees</a>
        {{/unless}}
        {{/has_permission}}
        {{else}}
        <a class="button" href="/registration/register">Register</a>
        {{/if}}
        {{/has_permission}}
        </div>
    {{/if}}


    {{#has_permission "admin" }}
        <h2>Admin</h2>

        <h3>Papers management</h3>
        <div class="buttons">
        {{#has_permission "papers/list/all"}}
        <a class="button" href="/papers/admin/list">View all talks</a>
        {{/has_permission}}
        {{#has_permission "papers/vote"}}
        <a class="button" href="/papers/admin/vote">Vote on talks</a>
        {{/has_permission}}
        {{#has_permission "papers/showvotes" }}
        <a class="button" href="/papers/admin/vote/show">Show talk votes</a>
        {{/has_permission}}
        </div>

        <h3>Registration</h3>
        <div class="buttons">
        {{#has_permission "registration/view_all" }}
        <a class="button" href="/registration/admin/list">List all registrations</a>
        {{/has_permission}}
        </div>
    {{/has_permission}}
{{/unless}}
