{{#unless session.currentUser}}

    <div id="las-login">
    <div class="guadec-login">

      <p class="index-welcome">
        Welcome to the GUADEC registration and paper submissions website. Here,
        you can register to attend the conference, submit talk proposals and manage
        your registration details.
        Please visit
        <a href="https://www.guadec.org/">our main website</a>
        for more information about the conference.
      </p>
      <p class="index-welcome">
      </p>
      <p class="login-choose-text">Use one of the following identity providers to log in</p>
    </div>

    <div id="authproviders">
         <div class="grid_4 login-buttons">
          <form>
            <input type="hidden" name="openid_2_0_provider_url" value="https://id.gnome.org/">

            <button class="button-big" type="submit" formmethod="post" formaction="/auth/login/2.0">
              <img src="https://static.gnome.org/guadec-2017/gnome.png" alt="Log in with a GNOME account">
            </button>
          </form>
          <p>Requires an existing GNOME account</p>
         </div>

         <div class="grid_4 login-buttons">
          <form>
            <input type="hidden" name="openid_2_0_provider_url" value="https://id.fedoraproject.org/">

            <button class="button-big" type="submit" formmethod="post" formaction="/auth/login/2.0">
              <img src="https://static.gnome.org/guadec-2017/fedora.png" alt="Log in with a Fedora account">
            </button>
          </form>
          <p>Available for sign-up</p>
         </div>

         <div class="grid_4 login-buttons">
          <form>
            <input type="hidden" name="openid_connect_provider" value="google">

            <button class="button-big"  class="button-big" type="submit" formmethod="post" formaction="/auth/login/connect">
              <img src="https://static.gnome.org/guadec-2017/google.png" alt="Log in with a Google account">
            </button>
          </form>
          <p>Requires a Google Account</p>
         </div>
    </div>

    {{#if development }}
    <div>
      <button id="loginBtn" {{{ login_buttons.login }}}>Development log in</button>
    </div>
    {{/if }}

    <div class="guadec-login">
      <p class="index-welcome">
        If you have trouble registering, please get in touch at
        guadec-organization@gnome.org.
      </p>
    </div>

    </div>
    </div>

{{else}}
    {{#if development }}
    <div>
      <button id="logoutBtn" {{{ login_buttons.logout }}}>Development log out</button>
    </div>
    {{/if }}

    Hi, {{name}}! Welcome to the GUADEC registration system.<br />

    {{#if config.registration.enabled}}
    {{#has_permission "registration/register"}}
      {{#unless registration}}
        <h2 style="padding-top: 20px;">Registration is Open</h2>
        <p>
          Conference attendees are required to register. It only takes a minute!
        </p>

        <a class="button" href="/registration/register">Register</a>
      {{else}}
        <h2 style="padding-top: 20px;">Registration Details</h2>
        <p>
          Registration details will be printed on your conference badge shortly
          before the conference opens. They can be changed prior to this time.
        </p>
        <p>
          Name: {{ name }}

          {{#if registration_fields.ircnick.value }}
            Chat nickname: {{ registration_fields.ircnick.value }}
          {{/if}}

          {{#unless registration.badge_printed}}
            <a class="button" href="/registration/register">Edit registration</a>
          {{/unless}}
        </p>
        <p>
          {{#if registration.paid_paypal }}
            Paid: {{ registration.paid_paypal }}
          {{/if}}
          {{#if registration.outstanding_onsite }}
            To pay: {{ registration.outstanding_onsite }}
          {{/if}}

          <a class="button" href="/registration/receipt" target="_blank">Get receipt</a>

          {{#has_permission "registration/pay"}}
          {{#unless registration.badge_printed}}
            <a class="button" href="/registration/pay">Make payment</a>
          {{/unless}}
          {{/has_permission}}
        </div>
      {{/unless}}
    {{/has_permission}}
    {{/if}}

    {{#if config.papers.enabled}}
      <h2 style="padding-top: 20px;">Talk Submissions</h2>
      <p>
	Proposal submissions for the main conference days (Friday 6th to
	Sunday 8th July) are currently
	{{#has_permission "papers/submit" }}open{{else}}closed{{/has_permission}}.
	You can find more information
	about what we are looking for and other types of available slots on
	the <a href="https://2018.guadec.org/pages/submit-a-proposal.html">main website</a>.
      </p>
      <p>
	There will be opportunities during the conference days (Friday 6th to
	Sunday 8th July) to propose 25 minute talks and lightning talks.
	Hacking sessions will take place during the second half of the
	conference (Monday 9th to Wednesday 11th July) and can be proposed
	closer to the event.  
      </p>

      <div class="">
        {{#has_permission "papers/submit" }}
          <a class="button" href="/papers/submit">Submit a Talk</a>
        {{/has_permission}}

        {{#has_permission "papers/list/own" }}
          <a class="button" href="/papers/list/own">View your Submitted Talks</a>
        {{/has_permission}}
      </div>

    {{/if}}

    {{#has_permission "admin" }}
      <h2 style="padding-top: 20px;">Admin</h2>

      <div class="buttons">
        {{#has_permission "registration/desk"}}
        <div class="container_12">
        <div class="grid_2">
          <h3>Overview</h3>
          <a class="button" href="/desk">Desk</a>
        </div>
        </div>
        {{/has_permission}}

        <div class="grid_8">
        <h3>Papers management</h3>
        {{#has_permission "papers/list/all"}}
          <a class="button" href="/papers/admin/list">View all talks</a>
        {{/has_permission}}
        {{#has_permission "papers/vote"}}
          <a class="button" href="/papers/admin/vote">Vote on talks</a>
        {{/has_permission}}
        {{#has_permission "papers/showvotes" }}
          <a class="button" href="/papers/admin/vote/show">Show talk votes</a>
        {{/has_permission}}
        </div>

        <div class="grid_2">
        <h3>Registration</h3>
        <div class="buttons">
        {{#has_permission "registration/view_all" }}
          <a class="button" href="/registration/admin/list">List all registrations</a>
        </div>
        </div>
        {{/has_permission}}
        </div>
      </div>
    {{/has_permission}}
{{/unless}}
