<!doctype HTML>
<html>
    <head >
        <title>{{ config.theming.site_name }}</title>

        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.min.css" rel="stylesheet">

        <script type="text/javascript" src="/javascripts/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="/javascripts/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/javascripts/reg-split.js"></script>

        <script type="text/javascript" src="https://flocktofedora.org/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="https://flocktofedora.org/static/js/jquery.expander.js"></script>
        <script type="text/javascript" src="https://flocktofedora.org/static/js/jquery.tools.min.js"></script>
        <script type="text/javascript" src="https://flocktofedora.org/static/js/jquery.query.min.js"></script>
        <script type="text/javascript" src="https://flocktofedora.org/static/js/jquery.slideshow.minified.js"></script>
        <script type="text/javascript" src="https://flocktofedora.org/static/js/jquery.tweet.js"></script>
        <script type="text/javascript" src="https://flocktofedora.org/static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/javascripts/translations.js"></script>

        <!-- language selector -->
        <script type="text/javascript" src="https://flocktofedora.org/static/js/jquery.uls.data.js"></script>
        <script type="text/javascript" src="https://flocktofedora.org/static/js/jquery.uls.data.utils.js"></script>
        <script type="text/javascript" src="https://flocktofedora.org/static/js/jquery.uls.lcd.js"></script>
        <script type="text/javascript" src="https://flocktofedora.org/static/js/jquery.uls.languagefilter.js"></script>
        <script type="text/javascript" src="https://flocktofedora.org/static/js/jquery.uls.regionfilter.js"></script>
        <script type="text/javascript" src="https://flocktofedora.org/static/js/jquery.uls.core.js"></script>
        {{#each extra_js}}
            <script type="text/javascript" src="{{this}}"></script>
        {{/each}}

        <script type="text/javascript">
            // Inserted variables
            {{#if session.currentUser}}
                var currentUser = '{{session.currentUser}}';
            {{else}}
                var currentUser = null;
            {{/if}}

            // Login arguments
            var login_args = {
              siteName: "{{ config.theming.sitename }}",
              siteLogo: "{{ config.theming.logo }}"
            };
        </script>
        <script type="text/javascript" src="/javascripts/reg-total.js"></script>
        <link rel="stylesheet" href="/css/style.css" type="text/css" media="all">
        <link rel="stylesheet" id="ttfmake-google-fonts-css" href="//fonts.googleapis.com/css?family=Open+Sans%3Aregular%2Citalic%2C700&amp;subset=latin&amp;ver=1.5.2" type="text/css" media="all">
        <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=latin,latin-ext" />
        <link rel='stylesheet' media="screen" href='https://fonts.googleapis.com/css?family=Montserrat' />
        <link rel="stylesheet" type="text/css" href="https://flocktofedora.org/static/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="https://flocktofedora.org/static/css/bootstrap-theme.css" />
        <link rel="stylesheet" type="text/css" href="/css/app.css" />
        <link rel="stylesheet" type="text/css" href="https://flocktofedora.org/static/css/flock.css" />
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.css" />

        <!-- language selector -->
        <link rel="stylesheet" type="text/css" href="https://flocktofedora.org/static/css/jquery.uls.css" />
        <link rel="stylesheet" type="text/css" href="https://flocktofedora.org/static/css/jquery.uls.grid.css" />
        <link rel="stylesheet" type="text/css" href="https://flocktofedora.org/static/css/jquery.uls.lcd.css" />
    </head>
    <body>
        {{>header}}

        {{#if development}}
            <span style="border: 1px solid blue; color:red;" align="center">
            <h1>DEVELOPMENT INSTANCE</h1>
            <h2>Data in this instance may be deleted at any time!</h1>
            </span>
        {{/if}}

        {{#if error}}
          <div class="validation">Something went wrong: {{error}}.</div>
        {{/if}}

        <div class="main-head-index">
          <div class="main-head-index-inner">
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-12 col-sm-9 col-md-7">
                    <h1>Flock Registration System</h1>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-5">
		    {{#if session.currentUser}}
                      <p>Logged in as {{#if user}}{{user.name}}{{else}}{{req.session.currentUser}}{{/if}}</p> 
                      <div class="button"><a href="/auth/logout" id="logoutBtn">Log out</a></div>
                    {{else}}
                      <p>Not logged in. Please log in using your <a href="http://accounts.fedoraproject.org">Fedora account</a>.</p>
                      <div class="button"><a href="/auth/login/fedora" id="loginBtn">Log in</a></div>
                    {{/if}}
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>

                {{{ body }}}

        <div id="bottom">
        {{>footer}}
        </div>

      <script type="text/javascript">a1='VGhpcyBjb2RlIGlzIHRlcnJpYmx5IGluc2VjdXJlLiBQbGVhc2UgZG9uJ3QgYWJ1c2UgaXQ/IFRoYW5rcyE=';a2='SSBrbm93IEkgYW0gc3VwcG9zZWQgdG8gd3JpdGUgc2VjdXJlIGNvZGUsIGFuZCBJIHByb21pc2UgeW91IEkgY2FuLg==';a3='SSBhbSBqdXN0IGdldHRpbmcgc28gdGlyZWQgb2YgamF2YXNjcmlwdC4=';function b(){window.alert(atob(a1)+"\n"+atob(a2)+"\n"+atob(a3));c=0;}var c=0;$(document).keypress(function(event){if(c>=8)b();else if(event.which==91)c++;else c=0;});</script>
    </body>
</html>
