{{!
  Partial to generate a form element for a field in the registration form.

  Parameters:

    - id: identifier of the field, same as the key used in the config file's
          registration.fields object
    - field: field information, same as in the config file but with extra
             'value' and 'left' fields also permitted.
}}

{{#ifEqual this.type "documentation"}}

  {{{ this.html }}}

{{else}}{{#ifEqual field.type "boolean"}}

  <p>
    <input type="checkbox" id="reg-{{id}}" name="field_{{id}}" {{#ifEqual field.value "true"}}checked="checked"{{/ifEqual}} onchange="{{ this.onchange }}">
    <label for="reg-{{id}}">{{ field.display_name }}</label>

  {{#if field.message}}
    <small>{{ field.message }}</small>
  {{/if}}
  {{#if field.privmsg}}
    <small>{{ field.privmsg }}</small>
  {{/if}}

  </p>

{{else}}{{#ifEqual field.type "legend"}}
  <legend class="field" for="reg-{{id}}">{{ field.display_name }}</legend>

{{else}}{{#ifEqual field.type "textarea"}}

  <p>
    <label class="field" for="reg-{{id}}">{{ field.display_name }}</label>
    <textarea id="reg-{{id}}"
        name="field_{{id}}" placeholder="{{ field.placeholder }}"
        {{#if this.readonly}}readonly{{/if}} onchange="{{ this.onchange }}">{{field.value}}</textarea>
    {{#if field.message}}
      <small>{{field.message}}</small>
    {{/if}}
    {{#if field.privmsg}}
      <small>{{ field.privmsg }}</small>
    {{/if}}
  </p>

{{else}}{{#ifEqual field.type "string"}}

  <p>
    <label class="field" for="reg-{{id}}">{{ field.display_name }}</label>
    <input type="text" id="reg-{{id}}"
        {{#ifEqual id "regfee" }}
        name="regfee"
        {{else}}
        name="field_{{id}}"
        {{/ifEqual}}
        value="{{ field.value }}" placeholder="{{ field.placeholder }}"
        onchange="{{ this.onchange }}"
        {{#if this.readonly}}readonly{{/if}}>
    {{#if field.message}}
      <small>{{field.message}}</small>
    {{/if}}
    {{#if field.privmsg}}
      <small>{{ field.privmsg }}</small>
    {{/if}}
  </p>

{{else}}{{#ifEqual field.type "radio"}}
  <div class="radio container-fluid">
  <div class="row">
    <div class="col col-xs-4">
      <label class="field" for="reg-{{id}}">{{ field.display_name }}</label>
    </div>
    <div class="col col-xs-7"> 
     <div class="options">
      {{#each field.options}}
      <label class="option">
            <input type="radio" name="field_{{../id}}" id="reg-{{../id}}" value="{{ this }}"
              onclick="{{ ../onchange }}"
              {{#ifEqual ../field.value this}}
                checked
              {{/ifEqual}}
            >{{this}}</option>
      </label>
      {{#unless @last}} </br /> {{/unless}}
    {{/each}}
    </div>

    {{#if field.message}}
      <small>{{ field.message }}</small>
    {{/if}}
    {{#if field.privmsg}}
      <small>{{ field.privmsg }}</small>
    {{/if}}
  </div>
  </div>
</div>

{{else}}{{#ifEqual field.type "select"}}

  <p>
    <label class="field" for="reg-{{id}}">{{ field.display_name }}</label>
    <select name="field_{{id}}" id="reg-{{id}}" onchange="{{ this.onchange }}">
          {{#each field.options}}
            <option
              {{#ifEqual ../field.value this}}
                selected="selected"
              {{/ifEqual}}
            >{{this}}</option>
          {{/each}}
    </select>

    {{#if field.message}}
        <small>{{field.message}}</small>
    {{/if}}
    {{#if field.privmsg}}
      <small>{{ field.privmsg }}</small>
    {{/if}}
 </p>

{{else}}{{#ifEqual field.type "purchase"}}

  <p>
    <label class="field" for="reg-{{id}}">{{ field.display_name }}</label>
    <span class="purchase-option-list" id="reg-{{id}}">
      {{#ifEqual field.required false}}
        <label>
          <input type="radio" class="purchase-option" name="field_{{id}}" value="None" data-cost="0"
            {{#ifEqual ../field.value None}}
              checked
            {{/ifEqual}}
            {{#unless field.can_change}}
              readonly="readonly"
            {{/unless}}
          />
            None
          </label>
        {{/ifEqual}}
    </span>

    {{#each field.options}}
    <span class="purchase-option-name">
      <label>
        <input type="radio" class="purchase-option" name="field_{{../id}}" value="{{@key}}" data-cost="{{cost}}" data-left="{{left}}" data-payment-state="{{../field.payment_state}}"
          {{#ifEqual ../field.value @key}}
            checked
          {{/ifEqual}}
          {{#ifEqual left 0}}
            readonly="readonly"
          {{/ifEqual}}
          {{#unless ../field.can_change}}
            readonly="readonly"
          {{/unless}}
           />
        {{display_name}}
      </label>
    </span>
    
    <span class="purchase-option-price">
      {{cost_all_currencies}}
    </span>

    <span class="purchase-option-left">
      {{left}} left
    </span>
  {{/each}}

        {{#ifEqual field.value "None"}}
        {{else}}
          {{#ifEqual field.payment_state 'unpaid'}}
            <p class="note">You have not yet made payment for this purchase, and can still change it.</p>
          {{/ifEqual}}
          {{#ifEqual field.payment_state 'pending'}}
            <p class="note">You have already paid for this purchase. The payment is pending authorization.</p>
          {{/ifEqual}}
          {{#ifEqual field.payment_state 'paid'}}
            <p class="note">You have already paid for this purchase.</p>
          {{/ifEqual}}
        {{/ifEqual}}
    </span>

    {{#if field.message}}
      <small>{{field.message}}</small>
    {{/if}}

{{else}}

  Unknown field type

{{/ifEqual}}{{/ifEqual}}{{/ifEqual}}{{/ifEqual}}{{/ifEqual}}{{/ifEqual}}{{/ifEqual}}{{/ifEqual}}
