<!doctype HTML>
<html>
    <head >
        <title>{{ config.theming.site_name }}</title>
        <link rel='stylesheet' type='text/css' href='https://static.gnome.org/css/grass-theme-style.css'/>
        <link rel='shortcut icon' href='http://las.gnome.org/wp-content/uploads/sites/8/2016/04/LAS.png'/>

        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.min.css" rel="stylesheet">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        {{#each extra_js}}
            <script type="text/javascript" src="{{this}}"></script>
        {{/each}}

        <script type="text/javascript">
            // Inserted variables
            {{#if session.currentUser}}
                var currentUser = '{{session.currentUser}}';
            {{else}}
                var currentUser = null;
            {{/if}}

            // Login arguments
            var login_args = {
              siteName: "{{ config.theming.sitename }}",
              siteLogo: "{{ config.theming.logo }}"
            };
        </script>
        <script type="text/javascript" src="/javascripts/login.js"></script>
        <link rel="stylesheet" href="/css/style.css" type="text/css" media="all">
        <link rel="stylesheet" href="/css/style-gnome.css" type="text/css" media="all">
        <link rel="stylesheet" href="/css/font-awesome.css" type="text/css" media="all">
        <link rel="stylesheet" href="/css/fonts.css" type="text/css" media="all">
        <link rel="stylesheet" href="/css/960-responsive.css" type="text/css" media="all">
    </head>


<body>
<!-- header -->
    <div id="header">
    <div class="container_12">
      <div id="logo" class="grid_3">
        <a title="Go to home page" href="http://las.gnome.org/"><img src="http://las.gnome.org/wp-content/uploads/sites/8/2016/04/LAS3.png" alt="Libre Application Summit" /></a>
      </div>

      <div id="top_bar" class="grid_9">
        <div class="right">
          <div class="menu-globalnav-container">
            <ul id="menu-globalnav" class="menu">
              <li id="menu-item-1039" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1039">
              <a href="/">Registration Home</a></li>

              <li class="menu-item menu-item-type-post_type menu-item-object-page">
                {{#if session.currentUser}}
                    <a href="/#logout" onclick="{{ login_buttons.logout.onclick }}">Log out</a>
                {{else}}
                    <a href="/#login" onclick="{{ login_buttons.login.onclick }}">Log in with Persona</a>
                {{/if}}
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div id="hero-container" class="grid_12">
        <span class="hero-header">Libre Application Summit</span>
        <span class="hero-description">
        <p>
        {{#if session.currentUser}}
            <a href="/#logout" onclick="{{ login_buttons.logout.onclick }}">Log out</a>
        {{else}}
            <a href="/#login" onclick="{{ login_buttons.login.onclick }}">Registration</a>
        {{/if}}
        </p>
        </span>
      </div>

    </div>
    </div>

    <div class="clearfix"></div>

<div class="container_12">
		<div class="crafted_content">

        {{{ body }}}

        </div>
</div>
    <div class="clearfix"></div>
    <!-- footer -->
    <div id="footer">
        <div class="container_12">
            <div class="links grid_9">
                <div class="menu-footer-container"><ul id="menu-footer" class="menu"><li id="menu-item-1048" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-has-children menu-item-1048"><a href="https://www.gnome.org">The GNOME Project</a>
<ul class="sub-menu">
	<li id="menu-item-1049" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1049"><a href="https://www.gnome.org/about/">About Us</a></li>
	<li id="menu-item-1050" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1050"><a href="https://www.gnome.org/get-involved/">Get Involved</a></li>
	<li id="menu-item-1053" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1053"><a href="https://www.gnome.org/support-gnome/">Support GNOME</a></li>
	<li id="menu-item-1054" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1054"><a href="https://www.gnome.org/contact/">Contact Us</a></li>
	<li id="menu-item-2246" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2246"><a href="https://www.gnome.org/foundation/">The GNOME Foundation</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-has-children"><a href="http://las.gnome.org">Libre Application Summit</a>
<ul class="sub-menu">
	<li id="menu-item-1049" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1049"><a href="http://las.gnome.org/about/">About Us</a></li>
    <li id="menu-item-1054" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1054"><a href="http://las.gnome.org/about/">Contact Us</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://las.gnome.org/code-of-conduct/">Code of Conduct</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://las.gnome.org/sponsors/">Sponsors</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://las.gnome.org/travel/">Travel Information</a></li>
</ul>
</li>
</ul></div>            </div>
	    <!-- footnotes -->
            <div id="footnotes" class="grid_9">
                Copyright © 2005‒2016 <strong class="gnome_logo">The GNOME Project</strong><br />
                Hosted by <a href="http://www.redhat.com/">Red Hat</a>. Powered by <a href="https://github.com/puiterwijk/regcfp">regcfp</a>.
            </div>

            <div class="clear"></div>
        </div>
    </div>


    </body>
</html>
