{{description}} submitted papers:<br /><br />

{{#each papers}}
  <div class="paper">
    <h3>{{ this.title }}</h3>
    <p class="summary">
    {{ breaklines this.summary }}
    </p>

    <table>
      <tbody>
    {{#if ../showAuthors}}
        <tr><th>Author:</th>
        <td>{{ this.User.name }} &lt;{{ this.User.email }}&gt;</td><tr>
    {{/if}}
    <tr><th>Co-presenters:</th><td>
    {{#if ../showAuthors}}
        {{this.PaperCoPresenters}}
    {{/if}}
        <tr><th>Talk length:</th>
        <td>{{ this.track }}</td><tr>
    {{#ifEqual ../this.User.id ../../user.id}}
        <form action="/papers/copresenter/add" method="post" style="display: inline">
        <input type="hidden" name="paper" value="{{this.id}}">
        <input type="text" name="email">
        <input type="submit" value="Add copresenter">
        </form>
    {{/ifEqual}}
    </td>
    </tr>
    <tr><th>Tags:</th><td>
    {{#each this.PaperTags}}
        {{this.tag}}, 
    {{/each}}
    <form action="/papers/tag" method="post" style="display: inline">
    <input type="hidden" name="paper" value="{{this.id}}">
    <input type="text" name="tag">
    <input type="submit" value="Add Tag">
    </form></td>
    </tbody>
    </table>

  </div>
{{/each}}
