<form class="submission-form" action="/registration/pay/do" method="POST">

{{#unless regfee_paid}}
  <legend>Registration Fee</legend>

  <p>You chose a registration fee of <strong>{{currency_symbol currency}}{{regfee}}</strong>.</p>
  {{#ifNotEqual donation 0}}
    <p>You chose to donate <strong>${{donation}}</strong> for other contributors, thanks!</p>
  {{/ifNotEqual}}

  {{#if config.registration.regfee_paypal}}
    <input type="hidden" name="regfee-method" value="paypal">
  {{else}}
      <div id="payment-form">
        <label for="paypal">
          <input type="radio" class="regfee-method" name="regfee-method" value="paypal" style="vertical-align: top;" checked="checked" />
          <span>Pay registration fee now using PayPal.</span>
        </label>
          <small>No PayPal account required</small>
        <label for="onsite">
          <input type="radio" class="regfee-method" name="regfee-method" value="onsite" style="vertical-align: top;" />
          <span>I can't make a payment; I will contact <a href="mailto:flock-staff@fedoraproject.org">the Flock staff</a> for assistance.</span>
        </label>
          <small>If the PayPal payment is not working for you, let us know to complete your registration.</small>
      </div>
  {{/if}}
{{/unless}}

<legend>Payment</legend>

<p>The total to be paid now is <strong>{{currency_symbol currency}}{{total_topay}}</strong>.</p>

<input class="submit-talk" type="submit" value="Complete registration">
</form>
