<!doctype HTML>
<html>
    <head>
        <title>{{ config.theming.site_name }}</title>
        <link rel='shortcut icon' href='https://static.gnome.org/img/logo/foot-16.png'/>

        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.min.css" rel="stylesheet">
        <script type="text/javascript" src="/javascripts/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="/javascripts/jquery-ui.min.js"></script>
        {{#each extra_js}}
            <script type="text/javascript" src="{{this}}"></script>
        {{/each}}

        <script type="text/javascript">
            // Inserted variables
            {{#if session.currentUser}}
                var currentUser = '{{session.currentUser}}';
            {{else}}
                var currentUser = null;
            {{/if}}

            // Login arguments
            var login_args = {
              siteName: "{{ config.theming.sitename }}",
              siteLogo: "{{ config.theming.logo }}"
            };
        </script>
        <script type="text/javascript" src="/javascripts/reg-fee-slider.js"></script>
        <script type="text/javascript" src="/javascripts/reg-total.js"></script>
        <link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
        <link rel="stylesheet" href="/css/style-gnome.css" type="text/css" media="all" />
        <link rel="stylesheet" href="/css/960.css" type="text/css" media="all" />
        <link rel="stylesheet" href="/css/960-responsive.css" type="text/css" media="all" />
    </head>

<body>
  <header id="masthead" class="site-header" role="banner">
    <div class="container_12 grid grid-pad head-overflow">
      <div class="navigation-container">
        {{#if session.currentUser}}
            <form>
              <button class="button-big logout" type="submit" formmethod="post" formaction="/auth/logout">Log out</button>
            </form>
            <div class="currentuser">Logged in as {{session.currentUser}}</div>
        {{/if}}
      </div>
    </div>
  </header>

  <section id="content" class="site-content">

    <header class="entry-header"></header>
   <div class="grid grid-pad">

     <div class="container_12">

        {{#if development}}
          <h3 style="color: red;">DEVELOPMENT INSTANCE!</h3>
        {{/if}}

        <noscript>
            <p style="color: red;">
                You appear to have JavaScript disabled in your browser. The
                {{ config.theming.site_name }} site requires Javascript to be
                enabled.
            </p>
        </noscript>

        {{#if error}}
          <div class="validation">Something went wrong: {{error}}.</div>
        {{/if}}

        {{{ body }}}

      </div>
    </div>
  </section>

    <!-- footer -->
    <div id="footer">
      <div class="container_12">
        <div class="links grid_12">
          <div class="menu-footer-container">

            <ul id="menu-footer-col1" class="menu">
              <li class="menu-item menu-item-type-post_type menu-item-has-children ">
                <ul class="sub-menu">
                  <li class="menu-item"><a href="https://www.gnome.org/"><strong>The GNOME Project</strong></a></li>
                  <li class="menu-item"><a href="https://www.gnome.org/about/">About Us</a></li>
                  <li class="menu-item"><a href="https://www.gnome.org/get-involved/">Get Involved</a></li>
                  <li class="menu-item"><a href="https://www.gnome.org/support-gnome/">Support GNOME</a></li>
                  <li class="menu-item"><a href="https://www.gnome.org/merchandise/">Merchandise</a></li>
                  <li class="menu-item"><a href="https://www.gnome.org/contact/">Contact Us</a></li>
                  <li class="menu-item"><a href="https://www.gnome.org/foundation/">The GNOME Foundation</a></li>
                </ul>
              </li>
            </ul>

            <ul id="menu-footer-col2" class="menu">
              <li class="menu-item menu-item-type-post_type menu-item-has-children ">
                <ul class="sub-menu">
                  <li class="menu-item"><a href="https://2017.guadec.org/"><strong>GUADEC: The GNOME conference</strong></a></li>
                  <li class="menu-item"><a href="https://2017.guadec.org/travel/">Travel</a></li>
                  <li class="menu-item"><a href="https://2017.guadec.org/accommodation/">Acommodation</a></li>
                  <li class="menu-item"><a href="https://2017.guadec.org/location/">Location</a></li>
                  <li class="menu-item"><a href="https://2017.guadec.org/code-of-conduct/">Code of conduct</a></li>
                </ul>
              </li>
            </ul>

          </div>
        </div>
      </div>
      <!-- footnotes -->
      <div id="footnotes" class="container_12">
        <small>
          Hosted by <a href="http://www.redhat.com/">Red Hat</a>.
          Powered by <a href="https://github.com/puiterwijk/regcfp">regcfp</a>.
        </small>
      </div>

      <div class="clear"></div>
    </div>


  </body>
</html>
