<div class="container">
<div class="row">
<div class="col-xs-12 bottom-margin">
You have finished the registration of {{registration.User.name}}!<br />

Receipt: <a href="/desk/receipt?regid={{registration.id}}" target="_blank">Click here to print receipt</a><br />
<b>Note: The user can also log in to the applicaton and get his receipt at any time.</b><br />
<br />

{{#if previous}}
    <b>Badge: <a href="/desk/badge?regida={{registration.id}}&regidb={{previous}}" target="_blank">Click here to print badge</a></b><br />
{{else}}
    <b>SINGLE</b> Badge: <a href="/desk/badge?regida={{registration.id}}" target="_blank">Click here to print <b>SINGLE</b> badge</a><br />
{{/if}}
<br />
<form action="/desk">
    <input type="hidden" name="printed" value="{{registration.id}}">
    {{#if previous}}
        <input type="hidden" name="previous" value="{{previous}}">
    {{/if}}
    <input type="submit" value="Return to desk">
</form>
</div>
</div>
</div>
