<div class="container">
<div class="row">
<div class="col-xs-12 bottom-margin">
{{#if submission_error}}
<div class="validation">Something went wrong: {{submission_error}}.</div>
{{/if}}

<form action="/registration/register" method="post">
<table class="submission-form">
<tr><td>Your name</td><td><input type="text" name="name" value="{{user.name}}" {{#if user }}disabled{{/if}}/></td></tr>
<input type="hidden" name="is_public" value="true">

{{#has_permission "registration/pay"}}
<tr><td>Registration fee</td><td>
{{#unless registration.paid}}
  {{>currency_selector selected=registration.currency}} <input type="text" id="reg-fee" name="regfee" class="reg-fee" value="{{regfee}}">
  <p class="note">Feel free to support us by donating as much as you're able to.<br />
  We can only provide receipts for payments over {{currency_symbol config.registration.main_currency}}{{min_amount_main_currency}} or an equivalent value in another currency.
  </p>
{{else}}
  {{>currency_selector selected=registration.currency disabled="disabled"}} <input type="text" id="reg-fee" name="regfee" class="reg-fee" value="{{regfee}}" disabled="disabled">
{{/unless}}
</tr>
{{/has_permission}}


<tr><td>Emails will be sent to:</td>
<td>{{ req.session.currentEmail }}</td></tr>

{{#each registration_fields}}
<tr><td>{{ this.display_name }}</td>
<td>

{{>field_entry id=@key field=this}}

{{#if this.message}}
<br/>
<p class="note">{{this.message}}</p>
{{/if}}
</td>
</tr>
{{/each}}


<tr><td>&nbsp;</td><td><input type="checkbox" value="false" name="is_public"
{{#unless registration.is_public}}
checked
{{/unless}}
> Hide my name in the public list of attendees</td></tr>
<tr><td>&nbsp;</td>

<tr><td>Total to pay</td><td id="reg-total">[JavaScript required to calculate]</td></tr>

<tr><td>&nbsp;</td>

<td><input class="submit-talk" type="submit" value="Submit" /></td>
</tr>

</table>
</form>
</div>
</div>
</div>
