<div class="container">
<div class="row">
<div class="col-xs-12 bottom-space">
{{#if message}}
    <h2>{{message}}</h2>
{{/if}}

{{#if printed}}
    <h3>Or click <a href="/desk/badge?regida={{printed}}" target="_blank">here</a> to print badge now</h3>
{{/if}}


{{!--
<h2>Donations:</h2>
<form action="/desk/donate" method="post">
    Amount donated:
    <select name="currency">
    <option value="EUR">€</option>
    <option value="SEK">kr</option>
    </select>
    <input type="text" name="amount"><br />
    Items received:<br />
    {{#each config.registration.donation_items}}

    {{/each}}
    <input type="submit" value="Register donation">
</form><br />
--}}



<h2>Registrations:</h2>
<table class="table table-striped table-bordered">
<tr><th>Reg Nr.</th><th>Name</th><th>Email</th><th>IRC Nick</th><th>Actions</th></tr>
<!-- New entry -->
<tr>
    <td colspan=5>
        <a href="/desk/add">New registration</a>
    </td>
</tr>
<!-- End new entry -->

{{#each registrations}}
<tr>
    <td>{{this.id}}</td>
    <td>{{this.User.name}}</td>
    <td>{{this.User.email}}</td>
    <td>{{this.irc}}</td>
    <td>
        {{#if this.badge_printed}}
            BADGE PRINTED (<a href="/desk/badge?regida={{this.id}}" target="_blank">reprint</a>)
        {{else}}
            {{#if this.has_outstanding_onsite}}
                Outstanding: {{this.outstanding_onsite}}<br />
                <form method="post" action="/desk/payment/markpaid" data-message="Really mark '{{this.User.name}}' as having paid {{this.outstanding_onsite}}?">
                    <input type="hidden" name="regid" value="{{this.id}}">
                    <input type="submit" value="Mark as paid">
                </form>
                <form method="post" action="/desk/payment/clear" data-message="Really clear payments of '{{this.User.name}}'?">
                    <input type="hidden" name="regid" value="{{this.id}}">
                    <input type="submit" value="Clear">
                </form>
            {{else}}
                <form class="payment_add_form" data-name="{{this.User.name}}" data-regid="{{this.id}}">
                    <input type="submit" value="Add payment">
                </form>
                <form class="finish_reg_form" method="post" action="/desk/finish"
                 data-message="Really finish registration for '{{this.User.name}}' and print badge?"
                 data-needed="{{this.needed_for_receipt}}"
                 data-receipteligible="{{this.eligible_for_receipt}}">
                    {{#if ../../../printed}}
                        <input type="hidden" name="printed" value="{{../../../../printed}}">
                    {{/if}}
                    <input type="hidden" name="regid" value="{{this.id}}">
                    <input type="submit" value="Print badge">
                </form>
            {{/if}}
        {{/if}}
    </td>
</tr>
{{/each}}
</table>


<div id="add_payment_dialog">
Adding payment for <span id="add_payment_dialog_name"></span>:
    <form method="post" action="/desk/payment/add">
        <input type="hidden" name="regid" id="add_payment_dialog_regid">
        {{>currency_selector}}
        <input type="text" name="amount">
        <input type="submit" value="Add">
    </form>
</div>
</div>
</div>
</div>


<script type="text/javascript">
$(function() {
    $('#add_payment_dialog').dialog({
        autoOpen: false
    });

    $('form').submit(function(event) {
        if($(event.target).data('message') === undefined) {
            return true;
        } else {
            return window.confirm($(event.target).data('message'));
        }
    });

    $('.finish_reg_form').submit(function(event) {
        var eligible = $(event.target).data('receipteligible');
        if(eligible != true) {
            return !window.confirm('CAUTION: User did not pay enough for receipt (needed: ' + $(event.target).data('needed') + '). Do you want to cancel?');
        }
    });

    $('.payment_add_form').submit(function(event) {
        $('#add_payment_dialog_name').html($(event.target).data('name'));
        $('#add_payment_dialog_regid').val($(event.target).data('regid'));
        $('#add_payment_dialog').dialog('open');
        return false;
    });
});
</script>
