<form action="/registration/pay" method="post">
<table class="submission-form">
<tr><td>Your name:</td><td><input type="text" name="submitter_name" value="{{user.name}}" disabled /></td></tr>
<tr><td>Amount:</td><td>
{{#each config.registration.fee_options}}
<input type="radio" name="regfee" value="{{this}}" id="regfee_{{this}}">
<label for="regfee_{{this}}">{{../config.registration.currency_symbol}}{{this}}</label>
<br />
{{/each}}
<input type="radio" name="regfee" value="custom">
<input type="text" name="regfee_custom">
</td>
<td>NOTE: Only registrations with a fee of at least {{config.registration.currency_symbol}}{{config.registration.min_amount_for_receipt}} can get a receipt! (you can always pay more)
</td></tr>

<tr><td>&nbsp;</td>
<td><input class="submit-talk" type="submit" value="Submit" /></td>
</tr>
</table>
</form>
