<form action="/registration/pay" method="post">
<table class="submission-form">
<tr><td>Your name:</td><td><input type="text" name="submitter_name" value="{{user.name}}" disabled /></td></tr>
<tr><td>Amount:</td><td>
{{config.registration.currency_symbol}} <input type="text" name="regfee" class="reg-fee" value="{{config.registration.default_amount}}">
<p class="note">Feel free to support us by donating as much as you're able to.<br />
We can only provide receipts for payments over {{config.registration.currency_symbol}}{{config.registration.min_amount_for_receipt}}.
</td></tr>

<tr><td>&nbsp;</td>
<td><input class="submit-talk" type="submit" value="Submit" /></td>
</tr>
</table>
</form>
