{{#if submission_error}}
<div class="validation">Something went wrong. Please make sure you have filled all required fields.</div>
{{/if}}

<form action="/registration/register" method="post">
<table class="submission-form">
<tr><td>Your name</td><td><input type="text" name="name" value="{{user.name}}" {{#if user }}disabled{{/if}}/></td></tr>
<tr><td>IRC nickname</td><td><input type="text" name="irc" value="{{registration.irc}}" placeholder="(optional)"></td></tr>
<input type="hidden" name="is_public" value="true">


<tr><td>Registration fee</td><td>
{{#unless ask_regfee}}
Registered
{{else}}
{{config.registration.currency_symbol}} <input type="text" name="regfee" class="reg-fee" value="{{config.registration.default_amount}}">
<p class="note">Feel free to support us by donating as much as you're able to.<br />
Please note that we can only provide receipts for payments over {{config.registration.currency_symbol}}{{config.registration.min_amount_for_receipt}}.
{{/unless}}</p>
</tr>

-<tr><td>Gender</td>
<td>
{{#each allGenders}}
<input type="radio" name="gender" value="{{this}}" id="gender_{{this}}"
{{#ifEqual ../registration.gender this}}
checked
{{/ifEqual}}
><label for="gender_{{this}}">{{this}}</label>
{{/each}}
<br/><p class="note">We will not publish gender data.<br/> It will only be used for attendee statistics.</p></td></tr>

-<tr><td>Country</td><td><input type="text" name="country" value="{{registration.country}}" placeholder="(optional)"><br/><p class="note">We will not publish country data.<br/> It will only be used for attendee statistics.</p></td></tr>


<tr><td>&nbsp;</td><td><input type="checkbox" value="false" name="is_public" 
{{#unless registration.is_public}}
checked
{{/unless}}
> Hide my name in the public list of attendees</td></tr>
<tr><td>&nbsp;</td>
<td><input class="submit-talk" type="submit" value="Submit" /></td>
</tr>

</table>
</form>
