<div class="container">
<div class="row">
<div class="col-xs-12 bottom-margin">
{{#if submission_error}}
<font color="red"><b>Something went wrong submitting. Please check you filled in all fields!</b></font>
{{/if}}

<form action="/papers/submit" method="post">
<table class="table table-striped table-bordered">
<tr><td>Submitter:</td><td><input type="text" value="{{user.email}}" disabled /></td></tr>
<tr><td>Your name:</td><td><input type="text" name="submitter_name" value="{{user.name}}" disabled /></td></tr>
<tr><td>Paper title:</td><td><input type="text" name="paper_title" value="{{paper.title}}" maxlength=50 /></td></tr>

<tr><td>Paper summary:</td>
<td><textarea name="paper_summary">{{paper.summary}}</textarea></td>
</tr>

<tr><td>Track:</td>
<td>
<select name="track">
{{#each tracks}}
<option
{{#ifEqual ../paper.track this}}
selected="selected"
{{/ifEqual}}
>{{this}}</option>
{{/each}}
</select>
</td></tr>

<tr><td>&nbsp;</td>
<td><input class="submit-talk" type="submit" value="Submit" /></td>
</tr>

</table>
</form>
</div>
</div>
</div>
