<!doctype HTML>
<html>
    <head >
        <title>{{ config.theming.site_name }}</title>

        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.min.css" rel="stylesheet">

        <script type="text/javascript" src="/javascripts/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/javascripts/jquery-migrate-3.0.0.js"></script>
        <script type="text/javascript" src="/javascripts/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/javascripts/reg-split.js"></script>

        <script type="text/javascript" src="https://flocktofedora.org/static/js/jquery.expander.js"></script>
        <script type="text/javascript" src="https://flocktofedora.org/static/js/jquery.tools.min.js"></script>
        <script type="text/javascript" src="https://flocktofedora.org/static/js/jquery.query.min.js"></script>
        <script type="text/javascript" src="https://flocktofedora.org/static/js/jquery.slideshow.minified.js"></script>
        <script type="text/javascript" src="https://flocktofedora.org/static/js/jquery.tweet.js"></script>
        <script type="text/javascript" src="https://flocktofedora.org/static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/javascripts/translations.js"></script>

        <!-- language selector -->
        <script type="text/javascript" src="https://flocktofedora.org/static/js/jquery.uls.data.js"></script>
        <script type="text/javascript" src="https://flocktofedora.org/static/js/jquery.uls.data.utils.js"></script>
        <script type="text/javascript" src="https://flocktofedora.org/static/js/jquery.uls.lcd.js"></script>
        <script type="text/javascript" src="https://flocktofedora.org/static/js/jquery.uls.languagefilter.js"></script>
        <script type="text/javascript" src="https://flocktofedora.org/static/js/jquery.uls.regionfilter.js"></script>
        <script type="text/javascript" src="https://flocktofedora.org/static/js/jquery.uls.core.js"></script>
        {{#each extra_js}}
            <script type="text/javascript" src="{{this}}"></script>
        {{/each}}

        <script type="text/javascript">
            // Inserted variables
            {{#if session.currentUser}}
                var currentUser = '{{session.currentUser}}';
            {{else}}
                var currentUser = null;
            {{/if}}

            // Login arguments
            var login_args = {
              siteName: "{{ config.theming.sitename }}",
              siteLogo: "{{ config.theming.logo }}"
            };
        </script>
        <script type="text/javascript" src="/javascripts/reg-total.js"></script>
        <link rel="stylesheet" href="/css/style.css" type="text/css" media="all">
        <link rel="stylesheet" id="ttfmake-google-fonts-css" href="//fonts.googleapis.com/css?family=Open+Sans%3Aregular%2Citalic%2C700&amp;subset=latin&amp;ver=1.5.2" type="text/css" media="all">
        <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=latin,latin-ext" />
        <link rel='stylesheet' media="screen" href='https://fonts.googleapis.com/css?family=Montserrat' />
        <link rel="stylesheet" type="text/css" href="https://flocktofedora.org/static/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="https://flocktofedora.org/static/css/bootstrap-theme.css" />
        <link rel="stylesheet" type="text/css" href="/css/app.css" />
        <link rel="stylesheet" type="text/css" href="https://flocktofedora.org/static/css/flock.css" />
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.css" />

        <!-- language selector -->
        <link rel="stylesheet" type="text/css" href="https://flocktofedora.org/static/css/jquery.uls.css" />
        <link rel="stylesheet" type="text/css" href="https://flocktofedora.org/static/css/jquery.uls.grid.css" />
        <link rel="stylesheet" type="text/css" href="https://flocktofedora.org/static/css/jquery.uls.lcd.css" />
    </head>
    <body>
        {{>header}}

        {{#if development}}
            <span style="border: 1px solid blue; color:red;" align="center">
            <h1>DEVELOPMENT INSTANCE</h1>
            <h2>Data in this instance may be deleted at any time!</h1>
            </span>
        {{/if}}

        {{#if error}}
          <div class="validation">Something went wrong: {{error}}.</div>
        {{/if}}

        <div class="main-head-index">
            <div class="container">
              <div class="row">
                <div class="col-xs-8 col-xs-offset-2 bottom-margin">
                    <h1 class="thin">Welcome to the Flock Registration System.</h1>
                    <h4 class="thin">
                      {{#if session.currentUser}}
                        <div class="button"><a href="/auth/logout" id="logoutBtn">Log out</a></div>
                      {{else}}
                        <div class="button"><a href="/auth/login/fedora" id="loginBtn">Log in</a></div>
                      {{/if}}
                    </h4>
                </div>
              </div>
            </div>
        </div>

                {{{ body }}}

        <div id="bottom">
        {{>footer}}
        </div>

    </body>
</html>
