{{#if submission_error}}
<div class="validation">Something went wrong. Please make sure you have filled all required fields.</div>
{{/if}}

<form action="/registration/register" method="post">
<table class="submission-form">
<tr><td><label for="reg-name">Your name</label></td><td><input type="text" id="reg-name" name="name" value="{{user.name}}" {{#if user }}disabled{{/if}}/></td></tr>
<input type="hidden" name="is_public" value="true">


{{#has_permission "registration/pay"}}
<tr><td><label for="reg-fee">Registration fee</label></td><td>
{{#unless ask_regfee}}
Registered
{{else}}
{{>currency_selector}} <input type="text" id="reg-fee" name="regfee" class="reg-fee" value="{{config.registration.default_amount}}">
<p class="note">Feel free to support us by donating as much as you're able to.<br />
We can only provide receipts for payments over {{currency_symbol config.registration.main_currency}}{{min_amount_main_currency}} or an equivalent value in another currency.
{{/unless}}</p>
</tr>
{{/has_permission}}


{{#each registration_fields}}
<tr><td><label for="reg-{{@key}}">{{ this.display_name }}</label></td>
<td>

{{#ifEqual this.type "string"}}
<input type="text" id="reg-{{@key}}" name="field_{{@key}}" value="{{ this.value }}" placeholder="{{ this.placeholder }}">
{{else}}
{{#ifEqual this.type "select"}}

<select name="field_{{@key}}" id="reg-{{@key}}" >
{{#each this.options}}
<option
{{#ifEqual ../value this}}
selected="selected"
{{/ifEqual}}
>{{this}}</option>
{{/each}}
</select>

{{else }}
Unknown field type
{{/ifEqual}}
{{/ifEqual}}

{{#if this.message}}
<br/>
<p class="note">{{this.message}}</p>
{{/if}}
</td>
</tr>
{{/each}}


<tr><td>&nbsp;</td><td><label><input type="checkbox" value="false" name="is_public" 
{{#unless registration.is_public}}
checked
{{/unless}}
>Hide my name in the public list of attendees</label></td></tr>
<tr><td>&nbsp;</td>
<td><input class="submit-talk" type="submit" value="Submit" /></td>
</tr>

</table>
</form>
