{{#if submission_error}}
<div class="validation">Something went wrong: {{submission_error}}.</div>
{{/if}}

<form action="/registration/register" method="post">
<table class="submission-form">
<tr><td>&nbsp;</td><td>
<h2>GUADEC registration information</h2>

<p>
Fill in your details to register for GUADEC, and optionally for workshops.
All fields except your name and payment information are optional. The IRC
nick will printed on your badge.
</p>

</td></tr>

<tr><td><label for="reg-name">Your name</label></td><td><input type="text" id="reg-name" name="name" value="{{user.name}}" {{#if user }}disabled{{/if}}/></td></tr>
<input type="hidden" name="is_public" value="true">

<tr><td><label for="reg-ircnick">IRC nick</label></td>
<td>
{{> field_entry id="ircnick" field=registration_fields.ircnick}}
</td>
</tr>

{{#has_permission "registration/pay"}}
<tr><td><label for="reg-fee">Registration fee</label></td><td>
{{#unless registration.paid}}
  Please support GUADEC and GNOME by choosing to pay a fee that is reasonable for you–we suggest a payment of € 15 for students, € 40 for hobbyist and € 150 for professionals. Pay over 100 € and receive a free conference t-shirt.<br />
  You can also support GNOME by becoming a <a href="https://www.gnome.org/friends/" target="_blank">Friend of GNOME</a> or donating <a href="https://www.gnome.org/friends/other-ways-to-donate/" target="_blank">in other ways</a>.

  <p>
  {{>currency_selector}} <input type="text" id="reg-fee" name="regfee" class="reg-fee" value="40" />
  </p>
  <div id="reg-fee-slider-label" style="display: none">Conference registration (excluding workshop):</div>
  <div id="reg-fee-slider" ></div>
{{else}}
  {{>currency_selector selected=registration.currency disabled="disabled"}} <input type="text" id="reg-fee" name="regfee" class="reg-fee" value="{{registration.regfee}}" disabled="disabled">

  {{#if registration.has_confirmed_payment }} {{registration.paid}} paid {{/if}}
  {{#if registration.has_outstanding_onsite }}
    {{#if registration.has_confirmed_payment }}, {{/if}}
    {{registration.outstanding_onsite}} to be paid
  {{/if}}
{{/unless}}

<p class="note">A 50% refund will be given on registration fees if you cancel before 24th July 2016. Refunds will not be issued on cancellations after the 24th of July. Please mail <a href="mailto:guadec-organization@gnome.org">guadec-organization@gnome.org</a> for any cancelation.
</p>
</tr>

<div id="workshop-payments" style="display: none">
<div class="workshop-payment-conf workshop-packagingyourapplicationusingflatpakformerlyxdgapp workshop-gstreamer" data-amount="200" style="display: none;">
<p>
The one day workshop you selected has a cost of € 200 per attendee, with the exception of students and GNOME Foundation members.
{{#unless registration.paid}}
This amount will be added to the fee specified in the slider, unless you select the option below.<br/>

<label><input type="checkbox" class="workshop-payment-excluded">I am a student or Foundation member and I will send send proof to <a href="mailto:workshops@guadec.org">workshops@guadec.org</a> within two days.</label>
{{else}}
If you have not paid already, then you can do so by selecting the <a href="pay">"Pay additional fees" from the registration home page</a> and enter an amount of € 200. If you are a student or a Foundation member you need to send proof to <a href="mailto:workshops@guadec.org">workshops@guadec.org</a> within two days of registering.
{{/unless}}
</p>
</div>

</td></tr>

{{/has_permission}}


{{#each registration_fields}}
  {{#ifEqual @key "ircnick"}}
  {{else}}
<tr><td><label for="reg-{{@key}}">{{ this.display_name }}</label></td>
<td>
    {{>field_entry id=@key field=this currency=../config.registration.main_currency}}

    {{#if this.message}}
<br/>
<p class="note">{{this.message}}</p>
    {{/if}}
</td>
</tr>
  {{/ifEqual}}
{{/each}}


<tr><td>&nbsp;</td><td><label><input type="checkbox" id="reg-public" value="false" name="is_public" 
{{#unless registration.is_public}}
checked
{{/unless}}
>Hide my name in the public list of attendees</label></td></tr>
<tr><td>&nbsp;</td>
<td>GUADEC 2016 is an event hosted by LinuxTag e.V. on behalf of the GNOME Foundation.</td>
</tr>
<tr><td>&nbsp;</td>
<td>This conference has a <a href="https://2016.guadec.org/code-of-conduct/" target="_blank">Code of Conduct</a> which all attendees are expected to follow at all conference venues and events.</td>
</tr>
<tr><td>&nbsp;</td>

<tr><td>Total to pay</td><td id="reg-total">[JavaScript required to calculate]</td></tr>

<tr><td>&nbsp;</td>
<td><input class="submit-talk" type="submit" value="Submit" /></td>
</tr>

</table>
</form>
