{{#if submission_error}}
<div class="validation">Something went wrong: {{submission_error}}.</div>
{{/if}}

<form action="/registration/register" method="post">

<p>By completing this registration form, you are committing to follow the <a href="https://2017.guadec.org/code-of-conduct/">GUADEC code of conduct</a>.</p>

<table>
  <tr>
    <td class="field-label"><label for="reg-name">Your name</label></td>
    <td class="field-widget"><input type="text" id="reg-name" name="name" value="{{user.name}}" {{#if user }}disabled{{/if}}/></td>
  </tr>
</table>

{{>field_entry id="ircnick" field=registration_fields.ircnick}}

<input type="checkbox" id="reg-public" value="true" name="is_public" {{#if registration.is_public}}checked{{/if}}>
<label for="reg-public">Show my name in the public list of attendees</label>

{{>field_entry id="volunteer" field=registration_fields.volunteer currency=config.registration.main_currency}}

{{#has_permission "registration/pay"}}
<h3>Registration Fee</h3>
Please support GUADEC and GNOME by choosing to pay a fee that is reasonable for
you.
{{#unless registration.paid}}
<div id="reg-fee-slider-label" style="display: none">Conference registration (excluding workshop):</div>
<div id="reg-fee-slider" ></div>
  <div id="currencyselector-container">
    {{>currency_selector}} <input type="text" id="reg-fee" name="regfee" class="reg-fee" value="40" />
  </div>
{{else}}
  {{>currency_selector selected=registration.currency disabled="disabled"}} <input type="text" id="reg-fee" name="regfee" class="reg-fee" value="{{registration.regfee}}" disabled="disabled">

  {{#if registration.has_confirmed_payment }} {{registration.paid}} paid {{/if}}
  {{#if registration.has_outstanding_onsite }}
    {{#if registration.has_confirmed_payment }}, {{/if}}
    {{registration.outstanding_onsite}} to be paid
  {{/if}}
{{/unless}}

{{!--
<p class="note">We can issue refunds on registration fees until 30th June 2017.
€10 will be deducted to cover payment processing fees. Refunds will not be
issued for cancellations after the 30th of June. Please mail <a
href="mailto:guadec-organization@gnome.org">guadec-organization@gnome.org</a>
for any cancelation.
</p>
--}}

{{/has_permission}}

{{#each registration_fields}}
  {{#ifEqual @key "ircnick"}}{{else}}{{#ifEqual @key "volunteer"}}{{else}}
    {{>field_entry id=@key field=this currency=../config.registration.main_currency}}
  {{/ifEqual}}{{/ifEqual}}
{{/each}}

<table>
<tr><td>&nbsp;</td>
</table>

<input class="button-big register-and-pay-button" type="submit" value="Register and pay" />
<div id="total-to-pay">Total to pay <span id="reg-total">[JavaScript required to calculate]</span></div>

</form>
