<form action="/registration/pay/do" method="post">
<table class="submission-form">
<input type="hidden" name="method" value="paypal">
<tr><td>Your name:</td><td><input type="text" name="submitter_name" value="{{user.name}}" disabled /></td></tr>
<tr><td>Amount:</td><td>
    {{#if config.registration.specific_amount}}
        {{currency_symbol config.registration.main_currency}}{{config.registration.specific_amount}}
    {{else }}
        {{>currency_selector}} <input type="text" id="reg-fee" name="regfee" class="reg-fee" value="{{config.registration.default_amount}}">
        <p class="note">Feel free to support us by donating as much as you're able to.<br />
        We can only provide receipts for payments over {{currency_symbol config.registration.main_currency}}{{min_amount_main_currency}} or an equivalent value in another currency.
    {{/if}}
</td></tr>

<tr><td>&nbsp;</td>
<td><input class="submit-talk" type="submit" value="Submit" /></td>
</tr>
</table>
</form>
