{{#if submission_error}}
<div class="validation">Something went wrong: {{submission_error}}.</div>
{{/if}}

<form action="/registration/register" method="post">
<table class="submission-form">
<tr><td><label for="reg-name">Your name</label></td><td><input type="text" id="reg-name" name="name" value="{{user.name}}" {{#if user }}disabled{{/if}}/></td></tr>
<input type="hidden" name="is_public" value="true">


{{#has_permission "registration/pay"}}
<tr><td><label for="reg-fee">Registration fee</label></td><td>
{{#unless registration.unless}}
  {{#if config.registration.specific_amount}}
    {{currency_symbol config.registration.main_currency}}{{config.registration.specific_amount}}
  {{else}}
    <p>Please support LAS and GNOME by choosing to pay a fee that is reasonable for you–we suggest a payment of $ 15 for students, $ 40 for hobbyist and $ 150 for professionals.<br />
       You can also support GNOME by becoming a <a href="https://www.gnome.org/friends/" target="_blank">Friend of GNOME</a> or donating <a href="https://www.gnome.org/friends/other-ways-to-donate/" target="_blank">in other ways</a>.</p>

    <div id="reg-fee-slider" ></div>

    {{>currency_selector}} <input type="text" id="reg-fee" name="regfee" class="reg-fee" value="40">
  {{/if}}
{{else}}
  {{>currency_selector selected=registration.currency disabled="disabled"}} <input type="text" id="reg-fee" name="regfee" class="reg-fee" value="{{registration.regfee}}" disabled="disabled">
{{/unless}}
</tr>
{{/has_permission}}


{{#each registration_fields}}
<tr><td><label for="reg-{{@key}}">{{ this.display_name }}</label></td>
<td>

{{> field_entry id=@key field=this currency=../config.registration.main_currency}}

{{#if this.message}}
<br/>
<p class="note">{{this.message}}</p>
{{/if}}
</td>
</tr>
{{/each}}


<tr><td>&nbsp;</td><td><label><input type="checkbox" value="false" name="is_public" 
{{#unless registration.is_public}}
checked
{{/unless}}
>Hide my name in the public list of attendees</label></td></tr>
<tr><td>&nbsp;</td>

<tr><td>Total to pay</td><td id="reg-total">[JavaScript required to calculate]</td></tr>

<tr><td>&nbsp;</td>
<td><input class="submit-talk" type="submit" value="Submit" /></td>
</tr>

</table>
<p>This conference has a <a href="http://las.gnome.org/code-of-conduct/">Code of Conduct which all attendees are expected to follow at all conference events</a>.</p>
</form>
