{{description}} submitted papers:<br /><br />

{{#each papers}}
    <b>{{ this.title }}</b>
    {{#if ../showAuthors}}
      ({{ this.User.name }} &lt;{{ this.User.email }}&gt;)
    {{/if}}
    - 
    {{ breaklines this.summary }}

    <br />
    (
    {{#each this.PaperTags}}
    {{this.tag}}, 
    {{/each}}
    )

    <form action="/papers/tag" method="post">
    <input type="hidden" name="paper" value="{{this.id}}">
    <input type="text" name="tag">
    <input type="submit" value="Tag">
    </form>

    <br />
    <br />
{{/each}}
